@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
:root {
    --Pale-white: hsl(243, 100%, 93%);
    --Grayish-grey: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    
    --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
}
body {
    font-size: 14px;
    background-color: var(--Very-Dark-Blue);
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: top 50vh left 0vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
}
.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 50%;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--Dark-Blue);
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 8rem;
    border-radius: 1rem 4.5rem 1rem 1rem;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon > img {
    display: block;
    max-width: 100%;
}
.icon {
    background-color: var(--Very-Dark-Blue);
    padding: 10px;
    border-radius: 5px;
}
.right {
    background-color: var(--Dark-Blue);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    margin-top: 3rem;
    border-radius: 1rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: var(--Pale-white);
}
.right > p {
    color: var(--Pale-white);
}
.load {
    background-color: var(--Very-Dark-Blue);
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    border-radius: 1rem;
    padding-top: 3px;
    padding-left: 3px;
}
.color {
    width: 75%;
    height: 80%;
    background-image: linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.circle {
    width: 9px;
    height: 9px;
    position: absolute;
    top: 15%;
    left: 97.1%;
    background-color: var(--Pale-white);
    border-radius: 50%;
}