@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
:root {
    --Pale-Violet-sub-heading-app-UI: hsl(276, 100%, 81%);
--Moderate-Violet-chats-left: hsl(276, 55%, 52%);
--Desaturated-Dark-Violet-chat-on-the-right: hsl(271, 15%, 43%);
--Grayish-Blue-placeholder-text: hsl(206, 6%, 79%);
--Very-Dark-Desaturated-Violet-main-heading: hsl(271, 36%, 24%);
--Dark-Grayish-Violet-paragraph: hsl(270, 7%, 64%);

--Light-Magenta: hsl(293, 100%, 63%);
--Light-Violet: hsl(264, 100%, 61%);


--White: hsl(0, 0%, 100%);
--Light-Grayish-Violet-app-background: hsl(270, 20%, 96%);
--Dark-Violet-submit-button-background: hsl(271, 36%, 24%);
--Light-Magenta-radio-button-outline: hsl(289, 100%, 72%);
}
body {
    font-size: 13px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-Grayish-Violet-app-background);
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}
html {
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    display: block;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 1rem;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 1.25rem;
    border-radius: 2px;
}
.phone {
    width: 300px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: var(--White);
    padding: .75rem;
    border-radius: 2rem;
    position: relative;
    margin-left: 10rem;
}
.top-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    background:linear-gradient(to left,var(--Light-Magenta),var(--Light-Violet));
    border-radius: 20px 20px 5px 5px;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: .75rem;
}
.profile-image {
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--White);
}

ul {
    display: flex;
    flex-direction: column;

}
li {
    list-style: none;
    color: var(--Pale-Violet-sub-heading-app-UI);
}
b {
    color: var(--White);
}
.screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--Light-Grayish-Violet-app-background);
    font-size: 8px;
    border-radius: 0 0 1rem 1rem;
    
}
.left-t1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: .5rem;
  width: 90%;
  padding: .5rem;
  
}
.left-1 {
    color: var(--Moderate-Violet-chats-left);
    background-color: hsl(276, 55%, 52%,0.1);
    padding: 6px 10px;
    width: 65%;
    border-radius: 10px 10px 10px 2.5px;
    overflow: hidden;
}
.right-1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 6px;
    padding: .5rem 1rem;
}
.rt {
    color: var(--Desaturated-Dark-Violet-chat-on-the-right);
    background-color: var(--White);
    padding: 10px;
    border-radius: 15px 15px 5px 15px;

}
.right-t1 {
    width: 55%;
}
.dog-images{ 
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.dog-image {
    width: 40px;
    border-radius: .5rem;
    overflow: hidden;
}
.left-t2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    gap: 5px;
}
.left-2 {
    width: 55%;
    color: var(--Moderate-Violet-chats-left);
    background-color: hsl(276, 55%, 52%,0.1);
    padding: 5px 15px;
    border-radius: 10px 10px 10px 5px;
}
.prices {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.price {
    display: flex;
    align-items: center;
    background: linear-gradient(to left,var(--Light-Magenta),var(--Light-Violet));
    justify-content: space-between;
    border-radius: 10px 10px 10px 5px;
    width: 11rem;
    padding: 8px 10px;
    color: hsl(0, 0%, 100%,0.75);
}
h2 {
    color: var(--White);
}
.price-left {
    display: flex;
    align-items: center;
    gap: 5px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%,0.5);
}
.screen-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bottom {
    margin-top: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: var(--White);
    width: 90%;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Grayish-Blue-placeholder-text);
}
.circle-2 {
    padding: 5px;
    background-color: var(--Dark-Violet-submit-button-background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    
}
.arrow-2 {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
}
.Simple {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 29%;
    margin-left: 8rem;
    font-size: 16px;
}
.Simple > p {
    color: var(--Dark-Grayish-Violet-paragraph);
}
.Simple > h1 {
    color: var(--Very-Dark-Desaturated-Violet-main-heading);
}
.top-white {
    position: absolute;
    width: 150px;
    height: 20px;
    right: 75px;
    background-color: var(--White);
    border-radius: 0 0 1rem 1rem;
}
.left-p {
    position: absolute;
    height: 150%;
    width: 31.5vw;
    border-radius: 0 0 15rem 15rem;
    background: linear-gradient(to bottom,var(--Light-Magenta),var(--Light-Violet));
    left: 0;
    bottom: 4.5rem;
}
.right-p {
    position: absolute;
    height: 100vh;
    width: 31.5vw;
    border-radius: 15rem 15rem 0rem 0rem;
    background: linear-gradient(to top,var(--Light-Magenta),var(--Light-Violet));
    right: -11rem;
    opacity: 0.05;
    top: 5rem;
}